@font-face {	
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 400;
	src: local("Gilroy light"),
	url("../fonts/woff2/gilroy-light-webfont.woff2") format("woff2");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	src: local("Gilroy extrabold"),
	url("../fonts/woff2/gilroy-extrabold-webfont.woff2") format("woff2");
}

body {
	margin: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #141414;
	background-color: #ffffff;
}

.wrapper {
	position: relative;
    max-width: 1170px;
	margin: 0 auto;
	min-width: 320px;
	padding: 0 15px;
}

html {
  	box-sizing: border-box;
  	height: 100%;
}

body {
	position: relative;
	width: 100%;
    height: 100%;
    background: #ffffff;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

p {
	margin: 0;
}

h2 {
	margin: 0;
}

body::after {
	content: "";
	position: absolute;
	background-image: url("../img/english yes.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 352px;
	top: 130px;
	left: 0;
}

a.order,
a.vk-ref {
	text-decoration: none;
	color: #f5112c;
	line-height: 24px;
	cursor: pointer;
	border-bottom: 1px solid #f5112c;
}

a.order:hover,
a.vk-ref:hover {
	color: #9711f5;
	border-bottom: 1px solid #9711f5;
}

a.order:active,
a.vk-ref:active {
	color: #4c0a7b;
	border-bottom: 1px solid #4c0a7b;
}

.address,
.phone,
.intro-text,
.registration,
.promo-lesson-text,
.logo-text {
	line-height: 24px;
}

.about-teachers-text {
	font-size: 0.79em;
	line-height: 24px;
}

.number,
.result b  {
	font-size: 3em;
	color: #000000;
}

.number {
	font-weight: 700;
}

.dot {
	color: #f5112c;
}

.headline1 {
	font-size: 1.89em;
	line-height: 48px;
	color: #000000;
	text-transform: uppercase;
}

.headline2 {
	line-height: 52px;
}

.headline {
	font-size: 2.5em;
	line-height: 52px;
	color: #000000;
	text-transform: uppercase;
}

.cost .cost-number {
	color: #f5112c;
}

.registration {
	border: 1px solid #f5112c;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	padding: 18px 30px;
	background-color: #f5112c;
	border-radius: 40px;
	box-shadow: 0px 10px 18px 0px rgba(246, 27, 60, 0.50);
	cursor: pointer;
}

.registration:hover {
	background-color: #d50c24;
	box-shadow: 0px 10px 18px 0px rgba(214, 13, 37, 0.50);
}

.registration:active {
	padding: 19px 30px 17px 30px;
	text-shadow: 1px 3px 0px rgba(0,0,0,0.5);
}

.main-header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 32px;
}

.address-wrap {
	display: flex;
}

.address {
	margin-right: 30px;
}

.phone {
	margin-right: 30px;
}
                                      /* 1 block */
.intro-section {
	position: relative;
}

.intro-section .wrapper {
	display: flex;
    flex-direction: row-reverse
}

.intro-section::before {
	content: "";
	position: absolute;
	background-color: #2429ff;
	width: 23px;
	height: 23px;
	border: 1px solid #2429ff;
	border-radius: 50%; 
	right: 466px;
    top: 130px;
}

.intro-section::after {
	content: "";
	position: absolute;
	width: 85px;
	height: 85px;
	border: 16px solid #2429ff;
	border-radius: 50%; 
	top: 294px;
    left: 268px;
	z-index: 11;
}

.intro-image {
	position: absolute;
    z-index: 10;
	bottom: -90px;
	left: 0;
}

.intro-wrap {
	position: relative;
    max-width: 44%;
    padding-top: 220px;
    left: -35px;
}

.intro-wrap::before {
	content: "";
	position: absolute;
	background-image: url(../img/wave1.png);
	width: 145px;
	height: 19px;
	bottom: 90px;
    right: 16px;
}

.intro-text {
	padding-bottom: 100px;
}

.headline-wrap {
	padding-bottom: 55px;
}

.headline-wrap::after {
	content: "";
	position: absolute;
	width: 62px;
	height: 7px;
	background-color: #f5112c;
	bottom: 228px;
	left: 0;
}
                                /* 2 block */
.question-wrap {
 	max-width: 360px;
 	position: relative;
 }        

.situations {
	position: relative;
	background-image: url("../img/big ellipse.png");
	background-repeat: no-repeat;
	background-position-y: -68px;
    padding-top: 325px;
    padding-bottom: 288px;
}    

.question-wrap .question {
 	background-image: url(../img/qstn.png);
 	background-repeat: no-repeat;
 	position: absolute;
 	bottom: -25px;
    left: 253px;
 	height: 220px;
 	width: 145px;
 }    

.situations-item.first {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 88px;
}

.situations-item.first::before {
	content: "";
	position: absolute;
	background-image: url("../img/wave1.png");
	width: 145px;
    height: 19px;
    top: 275px;
    left: 560px;
}

 .situations-text.first {
 	max-width: 245px;
 	margin-right: 20px;
 }                 

.number.one {
	position: absolute;
    top: 67px;
    right: 422px;
}

.situations-item.second {
	display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.situations-item.second::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 330px;
	background-color: #e9e9e9;
	top: -330px;
    left: 280px;
}

.situations-item.second::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 448px;
	background-color: #e9e9e9;
	top: 346px;
	left: 280px;
}

 .situations-text.second {
 	max-width: 348px;
 	margin-left: 40px;
 	margin-top: 85px;
 }

 .number.two {
 	position: absolute;
 	top: 35px;
    left: 400px;
 }

.situations-item.third {
	display: flex;
    position: relative;
    justify-content: flex-end;
}

.situations-item.third::before {
	content: "";
    position: absolute;
    background-color: #2429ff;
    width: 23px;
    height: 23px;
    border: 1px solid #2429ff;
    border-radius: 50%;
   	top: 94px;
    left: 270px;
}

 .situations-text.third {
 	max-width: 342px;
 	position: absolute;
 	right: 380px;
    top: 120px;
 } 

 .situations-item.third .situations-image {
 	position: absolute;
    top: -60px;
 }

 .number.three {
 	position: absolute;
    top: 87px;
    right: 302px;
    z-index: 10;
 }

 .result {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    margin-top: 448px;
 }

 .result-text {
 	max-width: 266px;
 	margin-left: 38px;	
 	margin-top: 130px;
 }

.result b {
	position: absolute;
	top: 80px;
    left: 524px;
}

.decision {
	position: relative;
	background: url(../img/part3.png);
	background-repeat: no-repeat;
	background-position: 1012px -129px; 
}
                                                    /*  3 block */
.dcsn-wrap {
	max-width: 488px;
	padding-bottom: 144px;
    padding-top: 100px;
}

.dcsn-wrap::before {
	content: "";
	position: absolute;
    width: 62px;
    height: 7px;
    background-color: #f5112c;
    top: 236px;
    left: 18px;
}

.dcsn-list {
	display: flex;
	position: relative;
}

.dcsn-item {
	position: relative;
	background-image: url(../img/mini-circle.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-left: 20px;
	padding-top: 20px;
}

.dcsn-wrap::after {
	content: "";
	position: absolute;
	background-image: url("../img/wave1.png");
	width: 145px;
    height: 19px;
    bottom: -127px;
    right: 293px;
}

.dcsn-item:not(:last-child) {
	padding-right: 55px;
 }

.dcsn-item-text.one {
	max-width: 220px;
}

.dcsn-item-text.two {
	max-width: 212px;
}

.dcsn-item-text.three {
    max-width: 170px;	
}
                                                 /* 4 block */
section.teachers {
	position: relative;
	background-image: url(../img/block3.png);
	background-repeat: no-repeat;
	background-position: 1332px 205px;
	padding-top: 248px;
}

.teachers .headline {
	margin-bottom: 52px;
}

.teachers-list {
	display: flex;
	justify-content: space-between;
}

.teachers-list::before {
	content: "";
	position: absolute;
	width: 390px;
	height: 2px;
	background-color: #e9e9e9;
	top: 264px;
    left: -390px;
}

.teachers-list::after {
	content: "";
    position: absolute;
    background-color: #2429ff;
    width: 23px;
    height: 23px;
    border: 1px solid #2429ff;
    border-radius: 50%;
    top: 253px;
    left: -148px;
}

.teacher-image {
	margin-bottom: 20px;
	width: 100%;
}

.teacher-item {
	width: 360px;
}

.about-teachers-text {
	padding-top: 6px;
}

.about-teachers-text.first,
.about-teachers-text.second {
	max-width: 332px;
}

.about-teachers-text.third {
	max-width: 344px;
}
                                              /* 5 block*/
section.cost {
	position: relative;
	display: flex;
	min-height: 1115px;
}

.cost::before {
	content: "";
	position: absolute;
	background-image: url("../img/wave1.png");
	width: 145px;
    height: 19px;
    bottom: 0;
    right: 0;
}

.cost-image {
	position: absolute;
    left: -374px;
    top: 85px;
}

.lessons-list {
	display: flex;
}

.lessons-col1 {
	max-width: 315px;
    margin-right: 52px;
}

.lessons-col2 {
	max-width: 328px;
}

li.lessons-item:not(:last-child) {
	margin-bottom: 30px;
}

.cost-wrap {
	max-width: 750px;
	margin-top: 220px;
    margin-left: auto;
}

.cost-col {
	position: relative;
	margin-bottom: 40px;
	z-index: 10;
}

.cost-col::before {
	content: "";
	position: absolute;
    width: 62px;
    height: 7px;
    background-color: #f5112c;
    top: 80px;
    left: 0;
}

.cost-col .question {
	background-image: url("../img/qstn3.png");
	background-repeat: no-repeat;
 	position: absolute;
 	bottom: 80px;
    right: 93px;
 	height: 220px;
 	width: 145px;
 	z-index: -1;
}

.cost-number.headline {
	margin-top: 75px;
    text-transform: none;
}

.lessons-item-text {
	margin-top: 8px;
}
                                            /* 6 block */
.process {
	margin-top: 180px;
}

.modal {
	display: none;
}

